.text {
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 510px;
}

.text_birth {
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 166px;
}

.sign_up {
  font-size: 20px;
  background-color: rgb(188, 171, 236);
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 166px;
}

b {
  margin-left: 505px;
  font-size: 20px;
}

div {
  text-align: center;
}

article {
  text-align: center;
  margin-top: 50px;
}
