body {
  font: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header {
  background-color: #fafafa;
  color: rgb(124, 72, 3);
  padding-top: 10px;
  min-height: 70px;
  border-bottom: rgb(110, 64, 3) 3px solid;
}

header #branding {
  float: left;
}

footer {
  padding: 5px;
  margin-top: 10px;
  color: rgb(7, 7, 7);
  background-color: #fdfdfd;
  text-align: center;
}

.box img {
  width: 1000px;
}

.main {
  text-align: center;
}

/* page banner */

#idx_top {
  width: 100%;
  padding: 250px 0;
  background: url(../image/unsplash-d.jpg) no-repeat 50% 50% / cover;
  text-align: center;
}
#idx_top strong,
#idx_top p {
  color: orange;
}
#idx_top strong {
  font-size: 70px;
  letter-spacing: -1px;
}
#idx_top p {
  margin-top: 20px;
  font-size: 30px;
}

#indx_top {
  width: 100%;
  padding: 250px 0;
  background: url(../image/unsplash-b.jpg) no-repeat 50% 50% / cover;
  text-align: center;
}
#indx_top strong,
#indx_top p {
  color: ghostwhite;
}
#indx_top strong {
  font-size: 70px;
  letter-spacing: -1px;
}
#indx_top p {
  margin-top: 20px;
  font-size: 30px;
}

#idex_top {
  width: 100%;
  padding: 250px 0;
  background: url(../image/unsplash-g.jpg) no-repeat 50% 50% / cover;
  text-align: center;
}
#idex_top strong,
#idex_top p {
  color: rgb(255, 123, 123);
}
#idex_top strong {
  font-size: 70px;
  letter-spacing: -1px;
}
#idex_top p {
  margin-top: 20px;
  font-size: 30px;
}
